/.vscode

# link to pull changes to main website
# https://bakel.ug:2083/cpsess4031180301/frontend/paper_lantern/version_control/index.html#/manage/%252Fhome%252Fbakel%252Frepositories%252FsoonBakel/deploy